In [ ]:
# 영화 제목 맞추기 프로그램
# 랜덤으로 영화 감독, 나온 연도, 장르가 나오면 사용자가 맞추는 프로그램
# 총 10문제가 나오며 정답은 마무리 단계에서 공개됨
# input: 영화 제목
# output: 사용자가 입력한 영화 제목, 정답인 영화 제목, 맞는지 유무, 총 점수
# 조건 1: 함수 형식으로 만들어 함수를 부르면 작동하도록 만들기
# 위에 나와있는 input과 output이 null인 경우는 제외하기

In [ ]:
movie_name = input("영화제목: ")

# 정렬
## index이름, column 이름을 기준으로 정렬

- <b style='font-size:1.2em'>sort_index(axis, ascending=True)</b>
    - axis
        - index 이름 기준 정렬(행) : 'index' 또는 0 (기본값)
        - column 이름 기준 정렬(열) : 'columns' 또는 1
    - ascending
        - 정렬방식
        - True(기본): 오름차순, False: 내림차순
    - inplace
        - 원본에 적용 여부
        - False(기본): 변경한 복사본 반환 
        - True : 원본을 변경

In [21]:
import os
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/movie.csv', index_col = 'movie_title')
df

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
Spectre,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Signed Sealed Delivered,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
The Following,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
A Plague So Pleasant,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
Shanghai Calling,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
My Date with Drew,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [3]:
# sort_index() -> index name 으로 정렬
df.sort_index() # (axis=0)
df.sort_index(ascending=False) # 내림차순 정렬 (defaul: 오름차순)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Æon Flux,Color,Karyn Kusama,178.0,93.0,45.0,352.0,Sophie Okonedo,9000.0,25857987.0,Action|Sci-Fi,...,532.0,English,USA,PG-13,62000000.0,2005.0,460.0,5.5,2.35,0
xXx: State of the Union,Color,Lee Tamahori,77.0,101.0,93.0,218.0,Nona Gaye,287.0,26082914.0,Action|Adventure|Crime|Thriller,...,213.0,English,USA,PG-13,87000000.0,2005.0,233.0,4.3,2.35,0
xXx,Color,Rob Cohen,191.0,132.0,357.0,212.0,Eve,14000.0,141204016.0,Action|Adventure|Thriller,...,737.0,English,USA,PG-13,70000000.0,2002.0,223.0,5.8,2.35,10000
eXistenZ,Color,David Cronenberg,196.0,115.0,0.0,716.0,Sarah Polley,1000.0,2840417.0,Horror|Sci-Fi|Thriller,...,527.0,English,Canada,R,31000000.0,1999.0,900.0,6.8,1.85,6000
[Rec] 2,Color,Jaume Balagueró,222.0,85.0,57.0,6.0,Pablo Rosso,37.0,27024.0,Horror,...,148.0,Spanish,Spain,R,5600000.0,2009.0,9.0,6.6,1.85,4000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"10,000 B.C.",NaN,Christopher Barnard,NaN,22.0,0.0,NaN,NaN,5.0,NaN,Comedy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.2,NaN,0
10 Things I Hate About You,Color,Gil Junger,133.0,97.0,19.0,835.0,Heath Ledger,23000.0,38176108.0,Comedy|Drama|Romance,...,549.0,English,USA,PG-13,16000000.0,1999.0,13000.0,7.2,1.85,10000
10 Days in a Madhouse,Color,Timothy Hines,1.0,111.0,0.0,247.0,Kelly LeBrock,1000.0,14616.0,Drama,...,10.0,English,USA,R,12000000.0,2015.0,445.0,7.5,1.85,26000
10 Cloverfield Lane,Color,Dan Trachtenberg,411.0,104.0,16.0,82.0,John Gallagher Jr.,14000.0,71897215.0,Drama|Horror|Mystery|Sci-Fi|Thriller,...,440.0,English,USA,PG-13,15000000.0,2016.0,338.0,7.3,2.35,33000
#Horror,Color,Tara Subkoff,35.0,101.0,37.0,56.0,Balthazar Getty,501.0,NaN,Drama|Horror|Mystery|Thriller,...,42.0,English,USA,Not Rated,1500000.0,2015.0,418.0,3.3,NaN,750

In [4]:
# 컬럼명으로 정렬
df.sort_index(axis=1)
df.sort_index(axis=1, ascending = False)

,title_year,plot_keywords,num_voted_users,num_user_for_reviews,num_critic_for_reviews,movie_imdb_link,movie_facebook_likes,language,imdb_score,gross,...,color,cast_total_facebook_likes,budget,aspect_ratio,actor_3_name,actor_3_facebook_likes,actor_2_name,actor_2_facebook_likes,actor_1_name,actor_1_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,avatar|future|marine|native|paraplegic,886204,3054.0,723.0,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,33000,English,7.9,760505847.0,...,Color,4834,237000000.0,1.78,Wes Studi,855.0,Joel David Moore,936.0,CCH Pounder,1000.0
Pirates of the Caribbean: At World's End,2007.0,goddess|marriage ceremony|marriage proposal|pi...,471220,1238.0,302.0,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,0,English,7.1,309404152.0,...,Color,48350,300000000.0,2.35,Jack Davenport,1000.0,Orlando Bloom,5000.0,Johnny Depp,40000.0
Spectre,2015.0,bomb|espionage|sequel|spy|terrorist,275868,994.0,602.0,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,85000,English,6.8,200074175.0,...,Color,11700,245000000.0,2.35,Stephanie Sigman,161.0,Rory Kinnear,393.0,Christoph Waltz,11000.0
The Dark Knight Rises,2012.0,deception|imprisonment|lawlessness|police offi...,1144337,2701.0,813.0,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,164000,English,8.5,448130642.0,...,Color,106759,250000000.0,2.35,Joseph Gordon-Levitt,23000.0,Christian Bale,23000.0,Tom Hardy,27000.0
Star Wars: Episode VII - The Force Awakens,NaN,NaN,8,NaN,NaN,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,0,NaN,7.1,NaN,...,NaN,143,NaN,NaN,NaN,NaN,Rob Walker,12.0,Doug Walker,131.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Signed Sealed Delivered,2013.0,fraud|postal worker|prison|theft|trial,629,6.0,1.0,http://www.imdb.com/title/tt3000844/?ref_=fn_t...,84,English,7.7,NaN,...,Color,2283,NaN,NaN,Crystal Lowe,318.0,Daphne Zuniga,470.0,Eric Mabius,637.0
The Following,NaN,cult|fbi|hideout|prison escape|serial killer,73839,359.0,43.0,http://www.imdb.com/title/tt2071645/?ref_=fn_t...,32000,English,7.5,NaN,...,Color,1753,NaN,16.00,Sam Underwood,319.0,Valorie Curry,593.0,Natalie Zea,841.0
A Plague So Pleasant,2013.0,NaN,38,3.0,13.0,http://www.imdb.com/title/tt2107644/?ref_=fn_t...,16,English,6.3,NaN,...,Color,0,1400.0,NaN,David Chandler,0.0,Maxwell Moody,0.0,Eva Boehnke,0.0
Shanghai Calling,2012.0,NaN,1255,9.0,14.0,http://www.imdb.com/title/tt2070597/?ref_=fn_t...,660,English,6.3,10443.0,...,Color,2386,NaN,2.35,Eliza Coupe,489.0,Daniel Henney,719.0,Alan Ruck,946.0
My Date with Drew,2004.0,actress name in title|crush|date|four word tit...,4285,84.0,43.0,http://www.imdb.com/title/tt0378407/?ref_=fn_t...,456,English,6.6,85222.0,...,Color,163,1100.0,1.85,Jon Gunn,16.0,Brian Herzlinger,23.0,John August,86.0

In [9]:
# index 정렬 => 부분일치 slicing 이 가능.
# !!! **정렬후 loc indexer 를 사용하면 속도가 빠르다.** !!!!!
df.sort_index().loc['A':'B'] # A 로 시작하는 영화 ~ B로 시작하는 영화 앞까지.

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
A Beautiful Mind,Color,Ron Howard,205.0,135.0,2000.0,535.0,Austin Pendleton,1000.0,170708996.0,Biography|Drama,...,1171.0,English,USA,PG-13,58000000.0,2001.0,592.0,8.2,1.85,29000
A Beginner's Guide to Snuff,Color,Mitchell Altieri,NaN,87.0,9.0,165.0,Luke Edwards,467.0,NaN,Comedy|Horror|Thriller,...,NaN,English,USA,NaN,NaN,2016.0,258.0,8.7,NaN,8
A Better Life,Color,Chris Weitz,94.0,98.0,129.0,221.0,Eddie 'Piolin' Sotelo,749.0,1754319.0,Drama|Romance,...,81.0,English,USA,PG-13,10000000.0,2011.0,252.0,7.2,1.85,0
A Bridge Too Far,Black and White,Richard Attenborough,56.0,175.0,0.0,14.0,Dirk Bogarde,385.0,50800000.0,Drama|History|War,...,210.0,English,USA,PG,26000000.0,1977.0,232.0,7.4,2.35,0
A Bug's Life,Color,John Lasseter,117.0,95.0,487.0,1000.0,Madeline Kahn,18000.0,162792677.0,Adventure|Animation|Comedy|Family|Fantasy,...,317.0,English,USA,G,120000000.0,1998.0,1000.0,7.2,2.35,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Avengers: Age of Ultron,Color,Joss Whedon,635.0,141.0,0.0,19000.0,Robert Downey Jr.,26000.0,458991599.0,Action|Adventure|Sci-Fi,...,1117.0,English,USA,PG-13,250000000.0,2015.0,21000.0,7.5,2.35,118000
Awake,Color,Joby Harold,133.0,84.0,8.0,896.0,Fisher Stevens,4000.0,14373825.0,Crime|Mystery|Thriller,...,196.0,English,USA,R,8600000.0,2007.0,922.0,6.5,2.35,0
Away We Go,Color,Sam Mendes,217.0,98.0,0.0,374.0,Jim Gaffigan,925.0,9430988.0,Comedy|Drama|Romance,...,115.0,English,USA,R,17000000.0,2009.0,472.0,7.1,2.35,7000
Ayurveda: Art of Being,Color,Pan Nalin,15.0,102.0,95.0,NaN,NaN,NaN,16892.0,Documentary,...,12.0,English,India,NaN,300000.0,2001.0,NaN,7.6,1.85,379

## 특정 컬럼(열)의 값을 기준으로 정렬
- <b style='font-size:1.2em'>sort_values(by, ascending, inplace)</b>
    - by
        - **정렬 기준 컬럼이름**을 문자열로 지정
        - 여러 컬럼에 대해 정렬할 경우 리스트에 담아 전달
    - ascending
        - 정렬방식
        - True(기본): 오름차순, False: 내림차순
        - 여러 컬럼에 대해 정렬할 경우 정렬방식도 리스트에 담아 전달
    - inplace
        - 원본에 적용 여부
        - False(기본): 변경한 복사본 반환 
        - True : 원본을 변경
    - 결측치는 방식과 상관없이 마지막에 나온다.

In [5]:
# 감독이름기준 정렬
df.sort_values('director_name')
df.sort_values('director_name', ascending =False) # 내림차순

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Bizarre,Color,Étienne Faure,9.0,98.0,77.0,0.0,Pierre Prieur,19.0,NaN,Drama|Musical|Romance,...,1.0,English,France,Unrated,500000.0,2015.0,0.0,4.3,1.78,114
Sur le seuil,Color,Éric Tessier,9.0,99.0,0.0,6.0,Michel Côté,50.0,NaN,Action|Drama|Horror|Thriller,...,5.0,French,Canada,NaN,3200000.0,2003.0,16.0,6.6,1.85,39
Mambo Italiano,Color,Émile Gaudreault,67.0,92.0,9.0,71.0,Luke Kirby,636.0,6239558.0,Comedy|Drama,...,67.0,English,Canada,R,5000000.0,2003.0,210.0,6.7,1.85,352
The Oxford Murders,Color,Álex de la Iglesia,71.0,104.0,275.0,102.0,Leonor Watling,439.0,3607.0,Crime|Mystery|Thriller,...,94.0,English,Spain,R,10000000.0,2008.0,161.0,6.1,2.35,0
Along the Roadside,Color,Zoran Lisinac,17.0,108.0,0.0,142.0,Brock Baker,431.0,NaN,Comedy|Music|Romance,...,2.0,English,USA,NaN,250000.0,2013.0,297.0,7.1,1.85,231
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Heroes,Color,NaN,75.0,60.0,NaN,833.0,Masi Oka,1000.0,NaN,Drama|Fantasy|Sci-Fi|Thriller,...,379.0,English,USA,TV-14,NaN,NaN,923.0,7.7,16.00,0
Home Movies,Color,NaN,11.0,22.0,NaN,6.0,Ron Lynch,59.0,NaN,Animation|Comedy|Drama,...,82.0,English,USA,TV-PG,NaN,NaN,11.0,8.2,1.33,526
Revolution,Color,NaN,23.0,43.0,NaN,576.0,Tracy Spiridakos,2000.0,NaN,Action|Adventure|Drama|Sci-Fi,...,323.0,English,USA,TV-14,NaN,NaN,821.0,6.7,16.00,17000
Happy Valley,Color,NaN,11.0,58.0,NaN,250.0,James Norton,887.0,NaN,Crime|Drama,...,59.0,English,UK,TV-MA,NaN,NaN,340.0,8.5,16.00,10000
The Following,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000

In [6]:
# 상영시간 기준 정렬
df.sort_values('duration')[['duration','imdb_score']].head(30)
df.sort_values(['duration', 'imdb_score'])[['duration','imdb_score']].head(30)
# df.sort_values(['duration', imdb_score]) 
#                          : duration으로 전체를 정렬. duration이 같은 값들끼리는 imbd_score로 정렬    
#                          : 정렬방식 - 셋다 오름차순(기본방식)

                                      duration  imdb_score
movie_title
The Touch                                  7.0         5.2
Shaun the Sheep                            7.0         8.3
Robot Chicken                             11.0         7.8
Vessel                                    14.0         6.2
Wal-Mart: The High Cost of Low Price      20.0         6.8
Sabrina, the Teenage Witch                22.0         6.6
Anger Management                          22.0         6.7
10,000 B.C.                               22.0         7.2
Rules of Engagement                       22.0         7.3
Strangers with Candy                      22.0         8.1
Home Movies                               22.0         8.2
It's Always Sunny in Philadelphia         22.0         8.8
Sonny with a Chance                       23.0         6.1
Star Wars: The Clone Wars                 23.0         7.9
Yu-Gi-Oh! Duel Monsters                   24.0         7.0
Lovesick                                  24.0         7.9
Bewitched                                 25.0         7.6
The Inbetweeners                          25.0         8.4
M*A*S*H                                   25.0         8.4
A Charlie Brown Christmas                 25.0         8.4
The Girlfriend Experience                 27.0         7.3
Entourage                                 28.0         8.5
Meet the Browns                           30.0         3.5
The Bold and the Beautiful                30.0         3.5
Jesse                                     30.0         5.9
Fired Up                                  30.0         6.7
Sex and the City                          30.0         7.0
The Powerpuff Girls                       30.0         7.2
The Doombolt Chase                        30.0         7.2
Wings                                     30.0         7.3

In [7]:
# ascending은 by의 컬럼 순서대로 지정한다. -> 내림차순이 하나라도 있으면 지정해 줘야 한다.
df.sort_values(['duration', 'imdb_score'], ascending=[False, True])[['duration','imdb_score']].head(30)
# duration은 False(내림사춘), imdb_score는 True (오름차순)

                              duration  imdb_score
movie_title
Trapped                          511.0         8.2
Carlos                           334.0         7.7
Blood In, Blood Out              330.0         8.0
Heaven's Gate                    325.0         6.8
The Legend of Suriyothai         300.0         6.6
Das Boot                         293.0         8.4
Apocalypse Now                   289.0         8.5
The Company                      286.0         7.9
Gods and Generals                280.0         6.3
Gettysburg                       271.0         7.7
Arn: The Knight Templar          270.0         6.6
Cleopatra                        251.0         7.0
Once Upon a Time in America      251.0         8.4
Gandhi                           240.0         8.1
The Wolf of Wall Street          240.0         8.2
Emma                             240.0         8.2
Dances with Wolves               236.0         8.0
Lawrence of Arabia               227.0         8.4
Gone with the Wind               226.0         8.2
The Greatest Story Ever Told     225.0         6.6
All the Pretty Horses            220.0         5.8
The Godfather: Part II           220.0         9.0
The Last Emperor                 219.0         7.8
Gangs of New York                216.0         7.5
The Thin Red Line                215.0         7.6
Watchmen                         215.0         7.7
Woodstock                        215.0         8.1
Wyatt Earp                       212.0         6.6
Nixon                            212.0         7.1
Alexander                        206.0         5.5

In [8]:
# boollean indexing 후 결과 정렬 (dataframe을 처리후에 그 결과를 정렬)
result = df[df['duration'] >250].sort_values('duration') # 조회결과를 정렬해서 result에 대입
result

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Cleopatra,Color,Joseph L. Mankiewicz,72.0,251.0,311.0,595.0,Richard Burton,940.0,57750000.0,Biography|Drama|History|Romance,...,192.0,English,UK,Approved,31115000.0,1963.0,726.0,7.0,2.20,0
Once Upon a Time in America,Color,Sergio Leone,111.0,251.0,0.0,642.0,Burt Young,22000.0,5300000.0,Crime|Drama,...,495.0,English,Italy,R,30000000.0,1984.0,683.0,8.4,1.85,12000
Arn: The Knight Templar,Color,Peter Flinth,34.0,270.0,5.0,292.0,Michael Nyqvist,908.0,NaN,Action|Adventure|Drama|Romance|War,...,54.0,Swedish,Sweden,NaN,25000000.0,2007.0,690.0,6.6,2.35,0
Gettysburg,Color,Ron Maxwell,22.0,271.0,33.0,251.0,William Morgan Sheppard,854.0,10769960.0,Drama|History|War,...,256.0,English,USA,PG,25000000.0,1993.0,702.0,7.7,1.85,0
Gods and Generals,Color,Ron Maxwell,84.0,280.0,33.0,67.0,Bruce Boxleitner,789.0,12870569.0,Drama|History|War,...,497.0,English,USA,PG-13,56000000.0,2003.0,640.0,6.3,2.35,953
The Company,Color,NaN,9.0,286.0,NaN,527.0,Tom Hollander,857.0,NaN,Drama|History|Thriller,...,39.0,English,USA,NaN,NaN,NaN,555.0,7.9,1.78,733
Apocalypse Now,Color,Francis Ford Coppola,261.0,289.0,0.0,3000.0,Marlon Brando,11000.0,78800000.0,Drama|War,...,983.0,English,USA,R,31500000.0,1979.0,10000.0,8.5,2.35,19000
Das Boot,Color,Wolfgang Petersen,96.0,293.0,249.0,18.0,Martin Semmelrogge,362.0,11433134.0,Adventure|Drama|Thriller|War,...,426.0,German,West Germany,R,14000000.0,1981.0,21.0,8.4,1.85,11000
The Legend of Suriyothai,Color,Chatrichalerm Yukol,31.0,300.0,6.0,6.0,Chatchai Plengpanich,7.0,454255.0,Action|Adventure|Drama|History|War,...,47.0,Thai,Thailand,R,400000000.0,2001.0,6.0,6.6,1.85,124
Heaven's Gate,Color,Michael Cimino,102.0,325.0,517.0,678.0,Sam Waterston,12000.0,1500000.0,Adventure|Drama|Western,...,189.0,English,USA,R,44000000.0,1980.0,849.0,6.8,2.35,1000
"Blood In, Blood Out",Color,Taylor Hackford,12.0,330.0,138.0,672.0,Jesse Borrego,848.0,4496583.0,Crime|Drama,...,129.0,English,USA,R,35000000.0,1993.0,674.0,8.0,1.66,6000
Carlos,Color,NaN,108.0,334.0,NaN,30.0,Nora von Waldstätten,897.0,145118.0,Biography|Crime|Drama|Thriller,...,36.0,English,France,Not Rated,NaN,NaN,30.0,7.7,2.35,0
Trapped,Color,NaN,16.0,511.0,NaN,51.0,Ingvar Eggert Sigurðsson,147.0,NaN,Crime|Drama|Thriller,...,19.0,Icelandic,Iceland,NaN,NaN,NaN,63.0,8.2,16.00,0

In [9]:
# values_counts()결과 정렬 => 값기준으로 내림차순 정렬해서 결과를 반환.
result = df['director_name'].value_counts()
result[result>10].sort_index() # 감독 이름순으로 정렬
result[result>10].sort_values() # 오름차순으로 정렬

Rob Reiner              11
Richard Linklater       11
Francis Ford Coppola    11
Sam Raimi               11
Chris Columbus          11
Richard Donner          11
Shawn Levy              11
Tony Scott              12
Michael Bay             12
Kevin Smith             12
Brian De Palma          12
Ron Howard              13
Robert Rodriguez        13
Robert Zemeckis         13
Barry Levinson          13
Joel Schumacher         13
Tim Burton              14
Oliver Stone            14
Renny Harlin            15
Steven Soderbergh       15
Spike Lee               16
Ridley Scott            16
Clint Eastwood          20
Martin Scorsese         20
Woody Allen             22
Steven Spielberg        26
Name: director_name, dtype: int64

# flights.csv (항공기 운항 기록 데이터)
- MONTH : 비행 월
- DAY : 비행 일
- WEEKDAY : 비행 요일 - 1(월요일)~7(일요일)
- AIRLINE : 항공사 코드
     - UA:	United Air Lines Inc.
     - AA:	American Airlines Inc.
     - US:	US Airways Inc.
     - F9:	Frontier Airlines Inc.
     - B6:	JetBlue Airways
     - OO:	Skywest Airlines Inc.
     - AS:	Alaska Airlines Inc.
     - NK:	Spirit Air Lines
     - WN:	Southwest Airlines Co.
     - DL:	Delta Air Lines Inc.
     - EV:	Atlantic Southeast Airlines
     - HA:	Hawaiian Airlines Inc.
     - MQ:	American Eagle Airlines Inc.
     - VX:	Virgin America
- ORG_AIR : 출발공항
- DEST_AIR : 도착공항
- SCHED_DEP : 출발예정시각
- DEP_DELAY : 출발지연시간(분)
- AIR_TIME : 비행시간(분)
- DIST : 비행거리(마일)
- SCHED_ARR : 도착예정시각
- ARR_DELAY : 도착지연시간(분)
- DIVERTED : 회항여부(1: True, 0: False)
- CANCELLED : 취소여부(1: True, 0: False)

In [10]:
import pandas as pd
flights = pd.read_csv('data/flights.csv')
flights.shape

(58492, 14)

In [11]:
flights.head()

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0

In [12]:
flights.tail()

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
58487,12,31,4,AA,SFO,DFW,515,5.0,166.0,1464,1045,-19.0,0,0
58488,12,31,4,F9,LAS,SFO,1910,13.0,71.0,414,2050,4.0,0,0
58489,12,31,4,OO,SFO,SBA,1846,-6.0,46.0,262,1956,-5.0,0,0
58490,12,31,4,WN,MSP,ATL,525,39.0,124.0,907,855,34.0,0,0
58491,12,31,4,OO,SFO,BOI,859,5.0,73.0,522,1146,-1.0,0,0

In [13]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58492 entries, 0 to 58491
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   MONTH      58492 non-null  int64
 1   DAY        58492 non-null  int64
 2   WEEKDAY    58492 non-null  int64
 3   AIRLINE    58492 non-null  object
 4   ORG_AIR    58492 non-null  object
 5   DEST_AIR   58492 non-null  object
 6   SCHED_DEP  58492 non-null  int64
 7   DEP_DELAY  57659 non-null  float64
 8   AIR_TIME   57474 non-null  float64
 9   DIST       58492 non-null  int64
 10  SCHED_ARR  58492 non-null  int64
 11  ARR_DELAY  57474 non-null  float64
 12  DIVERTED   58492 non-null  int64
 13  CANCELLED  58492 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 6.2+ MB

In [14]:
# 결측치 개수 확인
flights.isnull().sum()

MONTH           0
DAY             0
WEEKDAY         0
AIRLINE         0
ORG_AIR         0
DEST_AIR        0
SCHED_DEP       0
DEP_DELAY     833
AIR_TIME     1018
DIST            0
SCHED_ARR       0
ARR_DELAY    1018
DIVERTED        0
CANCELLED       0
dtype: int64

In [15]:
flights['AIRLINE'].value_counts()

DL    10601
AA     8900
WN     8418
UA     7792
OO     6588
EV     5858
MQ     3471
US     1615
NK     1516
F9     1317
VX      993
AS      768
B6      543
HA      112
Name: AIRLINE, dtype: int64

In [28]:
flights["WEEKDAY"].value_counts()

1    8720
3    8706
4    8659
2    8535
5    8453
7    8367
6    7052
Name: WEEKDAY, dtype: int64

In [29]:
flights['WEEKDAY'].value_counts().sort_index()

1    8720
2    8535
3    8706
4    8659
5    8453
6    7052
7    8367
Name: WEEKDAY, dtype: int64

In [17]:
flights['WEEKDAY'].unique()
flights['AIRLINE'].unique()

array(['WN', 'UA', 'MQ', 'AA', 'F9', 'EV', 'OO', 'NK', 'US', 'AS', 'DL',
       'VX', 'B6', 'HA'], dtype=object)

In [18]:
flights['AIRLINE'].nunique() # 14개의 범주로 구성되어 있다.

14

# 기술통계 메소드들을 이용한 데이터 집계
## 주요 기술통계 메소드

|함수|설명|
|-|-|
|**sum()**|합계|
|**mean()**|평균|
|**median()**|중위수|
|**mode()**|최빈값|
|**quantile()**|분위수|
|**std()**|표준편차|
|**var()**|분산|
|**count()**|결측치를 제외한 원소 개수|
|**min()**|최소값|
|**max()**|최대값|
|**idxmax()**|최대값 index|
|**idxmin()**|최소값 index|
|**unique()**|고유값|
|**nunique()**|고유값의 개수|

<center><b style='font-size:1.2em'>cf) value_counts()는 Series에만 사용할 수 있다.</b></center>

- DataFrame에 위의 기술 통계 메소드들을 적용할 경우 **컬럼별로 계산한다.**
- sum(), mode(), max(), min(), unique(), nunique(), count()는 **문자열에 적용가능하다.**
    - idxmax(), idxmin() 는 문자열 컬럼에 사용할 수 없다. (문자열의 경우 넘파이의 argmax(), argmin() 함수를 사용한다.)

- **공통 매개변수**
    - skipna=True(기본값)
        - 결측치(NA)를 포함해서 계산할지 여부 설정.
        - True가 기본값으로 결측치(NA)를 제외하고 처리한다. 
        - 결측치 제외하지 않으려면 skipna=False로 설정하는데 결측치가 있으면 결과는 결측치가 된다.
    - axis
        - DataFrame에 적용할 때 계산방향을 설정
            - 0 또는 'index' (기본값): 컬럼 방향으로 집계
            - 1 또는 'columns': 행 방향으로 집계

In [41]:
flights.max()

MONTH            12
DAY              31
WEEKDAY           7
AIRLINE          WN
ORG_AIR         SFO
DEST_AIR        YUM
SCHED_DEP      2359
DEP_DELAY    1194.0
AIR_TIME      577.0
DIST           4502
SCHED_ARR      2359
ARR_DELAY    1185.0
DIVERTED          1
CANCELLED         1
dtype: object

In [44]:
flights.mean(numeric_only=True)

MONTH           6.220646
DAY            15.702096
WEEKDAY         3.926862
SCHED_DEP    1387.984836
DEP_DELAY      10.921192
AIR_TIME      115.928576
DIST          872.900072
SCHED_ARR    1549.399832
ARR_DELAY       5.812315
DIVERTED        0.002342
CANCELLED       0.015062
dtype: float64

In [48]:
flights.select_dtypes(exclude='object').idxmax()

MONTH        53361
DAY           4886
WEEKDAY        489
SCHED_DEP      127
DEP_DELAY    58188
AIR_TIME     57423
DIST          2082
SCHED_ARR      120
ARR_DELAY    58188
DIVERTED       580
CANCELLED       24
dtype: int64

In [50]:
import numpy as np
# np.argmax(flights) # 결측치
np.argmax(flights.AIRLINE)

0

## aggregate(func, axis=0, \*args, \*\*kwargs) 또는 agg(func, axis=0, \*args, \*\*kwargs)
- DataFrame, Series의 메소드로 **집계결과를 다양한 형태로 묶어서 볼 때** 사용한다.
    - **사용자 정의 집계메소드를 사용할 때도 편리하다.**
- **매개변수**
    - func 
        - 집계 함수 지정
            - 함수명/함수리스트 (문자열)
                - 판다스 제공 집계메소드들은 문자열로, 사용자정의 집계함수는 함수 객체로 전달
            - Dictionary : {'집계할컬럼' : 집계함수, ... }
                - 컬럼별로 다른 집계를 할 경우
    - axis
        - DataFrame에 적용할 때 0 방향으로 계산할 지 1 방향으로 계산할지 설정
            - 0 또는 'index' (기본값): 컬럼 방향으로 집계
            - 1 또는 'columns': 행 방향으로 집계
            - 키원드 인자값이 들어갈떄는 **꼭!** axis = 0 or 1 표시를 해준다.
    - \*args, \*\*kwargs 
        - 함수에 전달할 매개변수. 
        - 집계함수는 첫번째 매개변수로 Series를 받는다. 그 이외의 매개변수가 있는 경우.

In [52]:
# 도착 지연시간 (ARR_DELAY): 최소값, 최대값
flights["ARR_DELAY"].min(), flights['ARR_DELAY'].max()

(-60.0, 1185.0)

In [53]:
flights["ARR_DELAY"].aggregate(['min', 'max'])

min     -60.0
max    1185.0
Name: ARR_DELAY, dtype: float64

In [54]:
flights["ARR_DELAY"].agg(['min', 'max']) # aggregate => agg 같은 똑같음.

min     -60.0
max    1185.0
Name: ARR_DELAY, dtype: float64

In [59]:
flights['ARR_DELAY'].agg('mean',skipna=False)

nan

In [58]:
flights['ARR_DELAY'].mean(skipna=False) # 위에 명령어와 같다.

nan

In [60]:
flights["ARR_DELAY"].agg(['min','max','mean', 'std']),skipna=False
# 집계(통계랑구하는) 함수가 여러개일 경우 argument는 전달되지 않는다.
# 표준편차 - std

min      -60.000000
max     1185.000000
mean       5.812315
std       38.411948
Name: ARR_DELAY, dtype: float64

In [63]:
# 컬럼별로 다른 통계량을 계산 -> {컬럼:통계함수}
flights.agg({
    "DEP_DELAY":'sum',
    "ARR_DELAY":['mean', 'std'],
   # "AIRLINE":'mode'
})

      DEP_DELAY  ARR_DELAY
sum    629705.0        NaN
mean        NaN   5.812315
std         NaN  38.411948

In [65]:
flights[['DEP_DELAY','ARR_DELAY']].mean()

DEP_DELAY    10.921192
ARR_DELAY     5.812315
dtype: float64

In [66]:
# DataFrame에 적용 가능. // mean
flights[['DEP_DELAY','ARR_DELAY']].agg(['mean', 'std'])

      DEP_DELAY  ARR_DELAY
mean  10.921192   5.812315
std   36.146210  38.411948

In [67]:
flights.describe()

,MONTH,DAY,WEEKDAY,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
count,58492.000000,58492.000000,58492.000000,58492.000000,57659.000000,57474.000000,58492.000000,58492.000000,57474.000000,58492.000000,58492.000000
mean,6.220646,15.702096,3.926862,1387.984836,10.921192,115.928576,872.900072,1549.399832,5.812315,0.002342,0.015062
std,3.358484,8.760846,1.995777,482.810792,36.146210,71.679591,624.996805,518.599952,38.411948,0.048340,0.121800
min,1.000000,1.000000,1.000000,5.000000,-24.000000,8.000000,67.000000,1.000000,-60.000000,0.000000,0.000000
25%,3.000000,8.000000,2.000000,1000.000000,-4.000000,61.000000,391.000000,1159.000000,-12.000000,0.000000,0.000000
50%,6.000000,16.000000,4.000000,1353.000000,-1.000000,97.000000,690.000000,1603.000000,-4.000000,0.000000,0.000000
75%,9.000000,23.000000,6.000000,1805.000000,10.000000,152.000000,1199.000000,1959.000000,9.000000,0.000000,0.000000
max,12.000000,31.000000,7.000000,2359.000000,1194.000000,577.000000,4502.000000,2359.000000,1185.000000,1.000000,1.000000

In [70]:
flights.select_dtypes(exclude='object').agg(['count','mean','std','min','max']).T
# .T 행과 열을 바꿔서 볼 수 있다.

             count         mean         std   min     max
MONTH      58492.0     6.220646    3.358484   1.0    12.0
DAY        58492.0    15.702096    8.760846   1.0    31.0
WEEKDAY    58492.0     3.926862    1.995777   1.0     7.0
SCHED_DEP  58492.0  1387.984836  482.810792   5.0  2359.0
DEP_DELAY  57659.0    10.921192   36.146210 -24.0  1194.0
AIR_TIME   57474.0   115.928576   71.679591   8.0   577.0
DIST       58492.0   872.900072  624.996805  67.0  4502.0
SCHED_ARR  58492.0  1549.399832  518.599952   1.0  2359.0
ARR_DELAY  57474.0     5.812315   38.411948 -60.0  1185.0
DIVERTED   58492.0     0.002342    0.048340   0.0     1.0
CANCELLED  58492.0     0.015062    0.121800   0.0     1.0

In [72]:
flights.select_dtypes(exclude='object').agg(['count','mean','min', 'max']).T

             count         mean   min     max
MONTH      58492.0     6.220646   1.0    12.0
DAY        58492.0    15.702096   1.0    31.0
WEEKDAY    58492.0     3.926862   1.0     7.0
SCHED_DEP  58492.0  1387.984836   5.0  2359.0
DEP_DELAY  57659.0    10.921192 -24.0  1194.0
AIR_TIME   57474.0   115.928576   8.0   577.0
DIST       58492.0   872.900072  67.0  4502.0
SCHED_ARR  58492.0  1549.399832   1.0  2359.0
ARR_DELAY  57474.0     5.812315 -60.0  1185.0
DIVERTED   58492.0     0.002342   0.0     1.0
CANCELLED  58492.0     0.015062   0.0     1.0

In [22]:
flights = pd.read_csv('data/flights.csv')

In [23]:
# 사용자 정의 집계함수
# 매개변수 - Series를 받는 변수를 첫번째 매개변수로 선언.
# 반환값 - 통계량
# MIN/MAX 값의 차이 구하는 집계함수.
def min_max_diff(column):
    min_value = column.min()
    max_value = column.max()
    return max_value - min_value

In [25]:
min_max_diff(flights['ARR_DELAY'])

1245.0

In [26]:
flights['ARR_DELAY'].agg(min_max_diff) # 사용자 정의 집계함수 호출 => 함수객체

1245.0

In [ ]:
def agg(self,func):
    return func(self)

- agg 함수에

In [27]:
flights['ARR_DELAY'].agg(['min','max',min_max_diff])

min              -60.0
max             1185.0
min_max_diff    1245.0
Name: ARR_DELAY, dtype: float64

In [44]:
# IQR 값을 계산하는 함수
# IQR(Inter Quaurtitle Range)-> 3분위 - 1분위 - quantitle(q=[0.75])
# 전체적인 분포에서 50 퍼센트가 어딘지 확인하는 방법
def IQR(column):
    first_q, thrid_q = column.quantile(q=[0.25,0.75])
    iqr = first_q - thrid_q 
    return iqr

In [48]:
def IQR(column):
    x, y = column.quantile(q=[0.25,0.75])
    iqr = x - y
    return iqr

In [49]:
IQR(flights['ARR_DELAY'])

-21.0

In [51]:
flights['ARR_DELAY'].agg(IQR)

-21.0

# Groupby

- 특정 열을 기준으로 같은 값을 가지는 행끼리 묶어서 group화 한다.
- **~~ 별 집계를 할 때** 사용한다. (성별, 직급별, 등급별 ...)
    - Group으로 묶을 기준 열은 범주형타입(category)을 사용한다.
- 
- **구문**
    - `DF.groupby('그룹으로묶을기준컬럼')`
        - DataFrameGroupby 객체를 반환한다.
        - DataFrameGroupby 객체는 어떤 행끼리 묶여있는지 정보를 가진다. 이 객체의 집계함수를 사용하면 그룹별 집계를 할 수 있다.
            - `DataFrameGroupby객체['집계할 컬럼'].집계함수()`
        - groupby에 여러개의 컬럼을 기준으로 나눌 경우 리스트에 묶어서 전달한다.
        - 집계할 컬럼이 여러개인 경우 리스트로 묶어준다.
    - 집계함수
        - 기술통계 함수들
        - agg()/aggregate()
            - 여러 다른 집계함수 호출시(여러 집계를 같이 볼경우)
            - 사용자정의 집계함수 호출시
            - 컬럼별로 다른 집계함수들을 호출할 경우

In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
flights = pd.read_csv('data/flights.csv')
flights.shape

(58492, 14)

In [3]:
flights['AIRLINE'].value_counts()

DL    10601
AA     8900
WN     8418
UA     7792
OO     6588
EV     5858
MQ     3471
US     1615
NK     1516
F9     1317
VX      993
AS      768
B6      543
HA      112
Name: AIRLINE, dtype: int64

In [4]:
# groupby() 호출
gb = flights.groupby('AIRLINE') # DataFrameGroupBy
print(type(gb))
gb_s = gb['ARR_DELAY']          # SeriesGroupBy
print(type(gb_s))

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>
<class 'pandas.core.groupby.generic.SeriesGroupBy'>

In [66]:
from pprint import pprint
pprint(gb.groups) # dictionary -> 어떤값에 어떤 행들이 group으로 묶였는지 반환.
gb.groups()에는
#AA라는 그룹이 생기고

{'AA': Int64Index([    3,     6,     8,    15,    26,    32,    33,    36,    37,
               41,
            ...
            58454, 58456, 58462, 58465, 58466, 58470, 58475, 58476, 58479,
            58487],
           dtype='int64', length=8900),
 'AS': Int64Index([   38,   198,   241,   277,   397,   450,   453,   500,   518,
              591,
            ...
            58202, 58207, 58224, 58238, 58253, 58305, 58355, 58404, 58407,
            58428],
           dtype='int64', length=768),
 'B6': Int64Index([  123,   127,   239,   333,   548,   549,   696,   757,   945,
             1175,
            ...
            57948, 57968, 58059, 58076, 58228, 58262, 58301, 58425, 58477,
            58483],
           dtype='int64', length=543),
 'DL': Int64Index([   53,    57,    77,    79,    85,    90,    91,   101,   116,
              117,
            ...
            58390, 58411, 58413, 58421, 58429, 58440, 58448, 58464, 58467,
            58485],
           dtype='int64', length=10601),
 'EV': Int64Index([   11,    13,    29,    40,    69,   100,   106,   118,   136,
              143,
            ...
            58370, 58397, 58412, 58423, 58438, 58445, 58452, 58459, 58463,
            58486],
           dtype='int64', length=5858),
 'F9': Int64Index([    7,    93,   209,   232,   247,   290,   301,   386,   444,
              483,
            ...
            58151, 58169, 58194, 58201, 58219, 58288, 58331, 58447, 58449,
            58488],
           dtype='int64', length=1317),
 'HA': Int64Index([  582,   712,   878,  1053,  1269,  1345,  1544,  1864,  2316,
             2644,
            ...
            53204, 53338, 54457, 55215, 55679, 55883, 56174, 56350, 56816,
            58391],
           dtype='int64', length=112),
 'MQ': Int64Index([    2,    10,    18,    24,    50,    60,    71,    78,    81,
              103,
            ...
            58369, 58393, 58394, 58406, 58410, 58415, 58426, 58468, 58474,
            58484],
           dtype='int64', length=3471),
 'NK': Int64Index([   17,    74,    95,   109,   166,   345,   358,   401,   434,
              436,
            ...
            58006, 58022, 58113, 58129, 58152, 58160, 58197, 58437, 58461,
            58469],
           dtype='int64', length=1516),
 'OO': Int64Index([   12,    16,    22,    25,    27,    34,    39,    42,    51,
               52,
            ...
            58433, 58434, 58435, 58439, 58446, 58451, 58480, 58482, 58489,
            58491],
           dtype='int64', length=6588),
 'UA': Int64Index([    1,     5,     9,    14,    21,    44,    45,    67,    70,
               72,
            ...
            58365, 58389, 58396, 58401, 58419, 58422, 58432, 58457, 58460,
            58481],
           dtype='int64', length=7792),
 'US': Int64Index([   31,    35,    49,    96,   104,   111,   112,   119,   148,
              150,
            ...
            31433, 31445, 31462, 31481, 31497, 31514, 31523, 31535, 31561,
            31582],
           dtype='int64', length=1615),
 'VX': Int64Index([   56,   227,   243,   417,   432,   464,   614,   641,   703,
              759,
            ...
            57971, 58068, 58112, 58298, 58313, 58332, 58383, 58400, 58471,
            58478],
           dtype='int64', length=993),
 'WN': Int64Index([    0,     4,    19,    20,    23,    28,    30,    43,    59,
               64,
            ...
            58408, 58409, 58430, 58436, 58444, 58455, 58458, 58472, 58473,
            58490],
           dtype='int64', length=8418)}

In [69]:
pprint(flights.groupby(['MONTH','DAY']).groups  # 월/일

# 1월1일이 이런 행들이 있고 1월2일에도 [136,137,138......이런 행들이 있다.]

{(1, 1): Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            126, 127, 128, 129, 130, 131, 132, 133, 134, 135],
           dtype='int64', length=136),
 (1, 2): Int64Index([136, 137, 138, 139, 140, 141, 142, 143, 144, 145,
            ...
            297, 298, 299, 300, 301, 302, 303, 304, 305, 306],
           dtype='int64', length=171),
 (1, 3): Int64Index([307, 308, 309, 310, 311, 312, 313, 314, 315, 316,
            ...
            479, 480, 481, 482, 483, 484, 485, 486, 487, 488],
           dtype='int64', length=182),
 (1, 4): Int64Index([489, 490, 491, 492, 493, 494, 495, 496, 497, 498,
            ...
            656, 657, 658, 659, 660, 661, 662, 663, 664, 665],
           dtype='int64', length=177),
 (1, 5): Int64Index([666, 667, 668, 669, 670, 671, 672, 673, 674, 675,
            ...
            836, 837, 838, 839, 840, 841, 842, 843, 844, 845],
           dtype='int64', length=180),
 (1, 6): Int64Index([ 846,  847,  848,  849,  850,  851,  852,  853,  854,  855,
            ...
            1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015],
           dtype='int64', length=170),
 (1, 7): Int64Index([1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025,
            ...
            1150, 1151, 1152, 1153, 1154, 1155, 1156, 1157, 1158, 1159],
           dtype='int64', length=144),
 (1, 8): Int64Index([1160, 1161, 1162, 1163, 1164, 1165, 1166, 1167, 1168, 1169,
            ...
            1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309, 1310, 1311],
           dtype='int64', length=152),
 (1, 9): Int64Index([1312, 1313, 1314, 1315, 1316, 1317, 1318, 1319, 1320, 1321,
            ...
            1461, 1462, 1463, 1464, 1465, 1466, 1467, 1468, 1469, 1470],
           dtype='int64', length=159),
 (1, 10): Int64Index([1471, 1472, 1473, 1474, 1475, 1476, 1477, 1478, 1479, 1480,
            ...
            1582, 1583, 1584, 1585, 1586, 1587, 1588, 1589, 1590, 1591],
           dtype='int64', length=121),
 (1, 11): Int64Index([1592, 1593, 1594, 1595, 1596, 1597, 1598, 1599, 1600, 1601,
            ...
            1744, 1745, 1746, 1747, 1748, 1749, 1750, 1751, 1752, 1753],
           dtype='int64', length=162),
 (1, 12): Int64Index([1754, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763,
            ...
            1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920],
           dtype='int64', length=167),
 (1, 13): Int64Index([1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930,
            ...
            2054, 2055, 2056, 2057, 2058, 2059, 2060, 2061, 2062, 2063],
           dtype='int64', length=143),
 (1, 14): Int64Index([2064, 2065, 2066, 2067, 2068, 2069, 2070, 2071, 2072, 2073,
            ...
            2232, 2233, 2234, 2235, 2236, 2237, 2238, 2239, 2240, 2241],
           dtype='int64', length=178),
 (1, 15): Int64Index([2242, 2243, 2244, 2245, 2246, 2247, 2248, 2249, 2250, 2251,
            ...
            2417, 2418, 2419, 2420, 2421, 2422, 2423, 2424, 2425, 2426],
           dtype='int64', length=185),
 (1, 16): Int64Index([2427, 2428, 2429, 2430, 2431, 2432, 2433, 2434, 2435, 2436,
            ...
            2573, 2574, 2575, 2576, 2577, 2578, 2579, 2580, 2581, 2582],
           dtype='int64', length=156),
 (1, 17): Int64Index([2583, 2584, 2585, 2586, 2587, 2588, 2589, 2590, 2591, 2592,
            ...
            2706, 2707, 2708, 2709, 2710, 2711, 2712, 2713, 2714, 2715],
           dtype='int64', length=133),
 (1, 18): Int64Index([2716, 2717, 2718, 2719, 2720, 2721, 2722, 2723, 2724, 2725,
            ...
            2864, 2865, 2866, 2867, 2868, 2869, 2870, 2871, 2872, 2873],
           dtype='int64', length=158),
 (1, 19): Int64Index([2874, 2875, 2876, 2877, 2878, 2879, 2880, 2881, 2882, 2883,
            ...
            3029, 3030, 3031, 3032, 3033, 3034, 3035, 3036, 3037, 3038],
           dtype='int64', length=165),
 (1, 20): Int64Index([3039, 3040, 3041, 3042, 3043, 3044, 3045, 3046, 3047, 3048,
            ...
            3185, 3186, 3187, 3188, 3189, 3190, 3191, 3192, 3193, 3194],
           dtype='int64', length=156),
 (1, 21): Int64Index([3195, 3196, 3197, 3198, 3199, 3200, 3201, 3202, 3203, 3204,
            ...
            3362, 3363, 3364, 3365, 3366, 3367, 3368, 3369, 3370, 3371],
           dtype='int64', length=177),
 (1, 22): Int64Index([3372, 3373, 3374, 3375, 3376, 3377, 3378, 3379, 3380, 3381,
            ...
            3539, 3540, 3541, 3542, 3543, 3544, 3545, 3546, 3547, 3548],
           dtype='int64', length=177),
 (1, 23): Int64Index([3549, 3550, 3551, 3552, 3553, 3554, 3555, 3556, 3557, 3558,
            ...
            3722, 3723, 3724, 3725, 3726, 3727, 3728, 3729, 3730, 3731],
           dtype='int64', length=183),
 (1, 24): Int64Index([3732, 3733, 3734, 3735, 3736, 3737, 3738, 3739, 3740, 3741,
            ...
            3851, 3852, 3853, 3854, 3855, 3856, 3857, 3858, 3859, 3860],
           dtype='int64', length=129),
 (1, 25): Int64Index([3861, 3862, 3863, 3864, 3865, 3866, 3867, 3868, 3869, 3870,
            ...
            4033, 4034, 4035, 4036, 4037, 4038, 4039, 4040, 4041, 4042],
           dtype='int64', length=182),
 (1, 26): Int64Index([4043, 4044, 4045, 4046, 4047, 4048, 4049, 4050, 4051, 4052,
            ...
            4209, 4210, 4211, 4212, 4213, 4214, 4215, 4216, 4217, 4218],
           dtype='int64', length=176),
 (1, 27): Int64Index([4219, 4220, 4221, 4222, 4223, 4224, 4225, 4226, 4227, 4228,
            ...
            4388, 4389, 4390, 4391, 4392, 4393, 4394, 4395, 4396, 4397],
           dtype='int64', length=179),
 (1, 28): Int64Index([4398, 4399, 4400, 4401, 4402, 4403, 4404, 4405, 4406, 4407,
            ...
            4539, 4540, 4541, 4542, 4543, 4544, 4545, 4546, 4547, 4548],
           dtype='int64', length=151),
 (1, 29): Int64Index([4549, 4550, 4551, 4552, 4553, 4554, 4555, 4556, 4557, 4558,
            ...
            4704, 4705, 4706, 4707, 4708, 4709, 4710, 4711, 4712, 4713],
           dtype='int64', length=165),
 (1, 30): Int64Index([4714, 4715, 4716, 4717, 4718, 4719, 4720, 4721, 4722, 4723,
            ...
            4876, 4877, 4878, 4879, 4880, 4881, 4882, 4883, 4884, 4885],
           dtype='int64', length=172),
 (1, 31): Int64Index([4886, 4887, 4888, 4889, 4890, 4891, 4892, 4893, 4894, 4895,
            ...
            4993, 4994, 4995, 4996, 4997, 4998, 4999, 5000, 5001, 5002],
           dtype='int64', length=117),
 (2, 1): Int64Index([5003, 5004, 5005, 5006, 5007, 5008, 5009, 5010, 5011, 5012,
            ...
            5136, 5137, 5138, 5139, 5140, 5141, 5142, 5143, 5144, 5145],
           dtype='int64', length=143),
 (2, 2): Int64Index([5146, 5147, 5148, 5149, 5150, 5151, 5152, 5153, 5154, 5155,
            ...
            5303, 5304, 5305, 5306, 5307, 5308, 5309, 5310, 5311, 5312],
           dtype='int64', length=167),
 (2, 3): Int64Index([5313, 5314, 5315, 5316, 5317, 5318, 5319, 5320, 5321, 5322,
            ...
            5468, 5469, 5470, 5471, 5472, 5473, 5474, 5475, 5476, 5477],
           dtype='int64', length=165),
 (2, 4): Int64Index([5478, 5479, 5480, 5481, 5482, 5483, 5484, 5485, 5486, 5487,
            ...
            5628, 5629, 5630, 5631, 5632, 5633, 5634, 5635, 5636, 5637],
           dtype='int64', length=160),
 (2, 5): Int64Index([5638, 5639, 5640, 5641, 5642, 5643, 5644, 5645, 5646, 5647,
            ...
            5813, 5814, 5815, 5816, 5817, 5818, 5819, 5820, 5821, 5822],
           dtype='int64', length=185),
 (2, 6): Int64Index([5823, 5824, 5825, 5826, 5827, 5828, 5829, 5830, 5831, 5832,
            ...
            5973, 5974, 5975, 5976, 5977, 5978, 5979, 5980, 5981, 5982],
           dtype='int64', length=160),
 (2, 7): Int64Index([5983, 5984, 5985, 5986, 5987, 5988, 5989, 5990, 5991, 5992,
            ...
            6094, 6095, 6096, 6097, 6098, 6099, 6100, 6101, 6102, 6103],
           dtype='int64', length=121),
 (2, 8): Int64Index([6104, 6105, 6106, 6107, 6108, 6109, 6110, 6111, 6112, 6113,
            ...
            6243, 6244, 6245, 6246, 6247, 6248, 6249, 6250, 6251, 6252],
           dtype='int64', length=149),
 (2, 9): Int64Index([6253, 6254, 6255, 6256, 6257, 6258, 6259, 6260, 6261, 6262,
            ...
            6412, 6413, 6414, 6415, 6416, 6417, 6418, 6419, 6420, 6421],
           dtype='int64', length=169),
 (2, 10): Int64Index([6422, 6423, 6424, 6425, 6426, 6427, 6428, 6429, 6430, 6431,
            ...
            6561, 6562, 6563, 6564, 6565, 6566, 6567, 6568, 6569, 6570],
           dtype='int64', length=149),
 (2, 11): Int64Index([6571, 6572, 6573, 6574, 6575, 6576, 6577, 6578, 6579, 6580,
            ...
            6726, 6727, 6728, 6729, 6730, 6731, 6732, 6733, 6734, 6735],
           dtype='int64', length=165),
 (2, 12): Int64Index([6736, 6737, 6738, 6739, 6740, 6741, 6742, 6743, 6744, 6745,
            ...
            6921, 6922, 6923, 6924, 6925, 6926, 6927, 6928, 6929, 6930],
           dtype='int64', length=195),
 (2, 13): Int64Index([6931, 6932, 6933, 6934, 6935, 6936, 6937, 6938, 6939, 6940,
            ...
            7091, 7092, 7093, 7094, 7095, 7096, 7097, 7098, 7099, 7100],
           dtype='int64', length=170),
 (2, 14): Int64Index([7101, 7102, 7103, 7104, 7105, 7106, 7107, 7108, 7109, 7110,
            ...
            7228, 7229, 7230, 7231, 7232, 7233, 7234, 7235, 7236, 7237],
           dtype='int64', length=137),
 (2, 15): Int64Index([7238, 7239, 7240, 7241, 7242, 7243, 7244, 7245, 7246, 7247,
            ...
            7396, 7397, 7398, 7399, 7400, 7401, 7402, 7403, 7404, 7405],
           dtype='int64', length=168),
 (2, 16): Int64Index([7406, 7407, 7408, 7409, 7410, 7411, 7412, 7413, 7414, 7415,
            ...
            7575, 7576, 7577, 7578, 7579, 7580, 7581, 7582, 7583, 7584],
           dtype='int64', length=179),
 (2, 17): Int64Index([7585, 7586, 7587, 7588, 7589, 7590, 7591, 7592, 7593, 7594,
            ...
            7751, 7752, 7753, 7754, 7755, 7756, 7757, 7758, 7759, 7760],
           dtype='int64', length=176),
 (2, 18): Int64Index([7761, 7762, 7763, 7764, 7765, 7766, 7767, 7768, 7769, 7770,
            ...
            7924, 7925, 7926, 7927, 7928, 7929, 7930, 7931, 7932, 7933],
           dtype='int64', length=173),
 (2, 19): Int64Index([7934, 7935, 7936, 7937, 7938, 7939, 7940, 7941, 7942, 7943,
            ...
            8112, 8113, 8114, 8115, 8116, 8117, 8118, 8119, 8120, 8121],
           dtype='int64', length=188),
 (2, 20): Int64Index([8122, 8123, 8124, 8125, 8126, 8127, 8128, 8129, 8130, 8131,
            ...
            8311, 8312, 8313, 8314, 8315, 8316, 8317, 8318, 8319, 8320],
           dtype='int64', length=199),
 (2, 21): Int64Index([8321, 8322, 8323, 8324, 8325, 8326, 8327, 8328, 8329, 8330,
            ...
            8443, 8444, 8445, 8446, 8447, 8448, 8449, 8450, 8451, 8452],
           dtype='int64', length=132),
 (2, 22): Int64Index([8453, 8454, 8455, 8456, 8457, 8458, 8459, 8460, 8461, 8462,
            ...
            8608, 8609, 8610, 8611, 8612, 8613, 8614, 8615, 8616, 8617],
           dtype='int64', length=165),
 (2, 23): Int64Index([8618, 8619, 8620, 8621, 8622, 8623, 8624, 8625, 8626, 8627,
            ...
            8783, 8784, 8785, 8786, 8787, 8788, 8789, 8790, 8791, 8792],
           dtype='int64', length=175),
 (2, 24): Int64Index([8793, 8794, 8795, 8796, 8797, 8798, 8799, 8800, 8801, 8802,
            ...
            8950, 8951, 8952, 8953, 8954, 8955, 8956, 8957, 8958, 8959],
           dtype='int64', length=167),
 (2, 25): Int64Index([8960, 8961, 8962, 8963, 8964, 8965, 8966, 8967, 8968, 8969,
            ...
            9129, 9130, 9131, 9132, 9133, 9134, 9135, 9136, 9137, 9138],
           dtype='int64', length=179),
 (2, 26): Int64Index([9139, 9140, 9141, 9142, 9143, 9144, 9145, 9146, 9147, 9148,
            ...
            9299, 9300, 9301, 9302, 9303, 9304, 9305, 9306, 9307, 9308],
           dtype='int64', length=170),
 (2, 27): Int64Index([9309, 9310, 9311, 9312, 9313, 9314, 9315, 9316, 9317, 9318,
            ...
            9454, 9455, 9456, 9457, 9458, 9459, 9460, 9461, 9462, 9463],
           dtype='int64', length=155),
 (2, 28): Int64Index([9464, 9465, 9466, 9467, 9468, 9469, 9470, 9471, 9472, 9473,
            ...
            9601, 9602, 9603, 9604, 9605, 9606, 9607, 9608, 9609, 9610],
           dtype='int64', length=147),
 (3, 1): Int64Index([9611, 9612, 9613, 9614, 9615, 9616, 9617, 9618, 9619, 9620,
            ...
            9767, 9768, 9769, 9770, 9771, 9772, 9773, 9774, 9775, 9776],
           dtype='int64', length=166),
 (3, 2): Int64Index([9777, 9778, 9779, 9780, 9781, 9782, 9783, 9784, 9785, 9786,
            ...
            9951, 9952, 9953, 9954, 9955, 9956, 9957, 9958, 9959, 9960],
           dtype='int64', length=184),
 (3, 3): Int64Index([ 9961,  9962,  9963,  9964,  9965,  9966,  9967,  9968,  9969,
             9970,
            ...
            10120, 10121, 10122, 10123, 10124, 10125, 10126, 10127, 10128,
            10129],
           dtype='int64', length=169),
 (3, 4): Int64Index([10130, 10131, 10132, 10133, 10134, 10135, 10136, 10137, 10138,
            10139,
            ...
            10308, 10309, 10310, 10311, 10312, 10313, 10314, 10315, 10316,
            10317],
           dtype='int64', length=188),
 (3, 5): Int64Index([10318, 10319, 10320, 10321, 10322, 10323, 10324, 10325, 10326,
            10327,
            ...
            10509, 10510, 10511, 10512, 10513, 10514, 10515, 10516, 10517,
            10518],
           dtype='int64', length=201),
 (3, 6): Int64Index([10519, 10520, 10521, 10522, 10523, 10524, 10525, 10526, 10527,
            10528,
            ...
            10694, 10695, 10696, 10697, 10698, 10699, 10700, 10701, 10702,
            10703],
           dtype='int64', length=185),
 (3, 7): Int64Index([10704, 10705, 10706, 10707, 10708, 10709, 10710, 10711, 10712,
            10713,
            ...
            10863, 10864, 10865, 10866, 10867, 10868, 10869, 10870, 10871,
            10872],
           dtype='int64', length=169),
 (3, 8): Int64Index([10873, 10874, 10875, 10876, 10877, 10878, 10879, 10880, 10881,
            10882,
            ...
            11048, 11049, 11050, 11051, 11052, 11053, 11054, 11055, 11056,
            11057],
           dtype='int64', length=185),
 (3, 9): Int64Index([11058, 11059, 11060, 11061, 11062, 11063, 11064, 11065, 11066,
            11067,
            ...
            11231, 11232, 11233, 11234, 11235, 11236, 11237, 11238, 11239,
            11240],
           dtype='int64', length=183),
 (3, 10): Int64Index([11241, 11242, 11243, 11244, 11245, 11246, 11247, 11248, 11249,
            11250,
            ...
            11409, 11410, 11411, 11412, 11413, 11414, 11415, 11416, 11417,
            11418],
           dtype='int64', length=178),
 (3, 11): Int64Index([11419, 11420, 11421, 11422, 11423, 11424, 11425, 11426, 11427,
            11428,
            ...
            11602, 11603, 11604, 11605, 11606, 11607, 11608, 11609, 11610,
            11611],
           dtype='int64', length=193),
 (3, 12): Int64Index([11612, 11613, 11614, 11615, 11616, 11617, 11618, 11619, 11620,
            11621,
            ...
            11779, 11780, 11781, 11782, 11783, 11784, 11785, 11786, 11787,
            11788],
           dtype='int64', length=177),
 (3, 13): Int64Index([11789, 11790, 11791, 11792, 11793, 11794, 11795, 11796, 11797,
            11798,
            ...
            11969, 11970, 11971, 11972, 11973, 11974, 11975, 11976, 11977,
            11978],
           dtype='int64', length=190),
 (3, 14): Int64Index([11979, 11980, 11981, 11982, 11983, 11984, 11985, 11986, 11987,
            11988,
            ...
            12108, 12109, 12110, 12111, 12112, 12113, 12114, 12115, 12116,
            12117],
           dtype='int64', length=139),
 (3, 15): Int64Index([12118, 12119, 12120, 12121, 12122, 12123, 12124, 12125, 12126,
            12127,
            ...
            12272, 12273, 12274, 12275, 12276, 12277, 12278, 12279, 12280,
            12281],
           dtype='int64', length=164),
 (3, 16): Int64Index([12282, 12283, 12284, 12285, 12286, 12287, 12288, 12289, 12290,
            12291,
            ...
            12438, 12439, 12440, 12441, 12442, 12443, 12444, 12445, 12446,
            12447],
           dtype='int64', length=166),
 (3, 17): Int64Index([12448, 12449, 12450, 12451, 12452, 12453, 12454, 12455, 12456,
            12457,
            ...
            12607, 12608, 12609, 12610, 12611, 12612, 12613, 12614, 12615,
            12616],
           dtype='int64', length=169),
 (3, 18): Int64Index([12617, 12618, 12619, 12620, 12621, 12622, 12623, 12624, 12625,
            12626,
            ...
            12765, 12766, 12767, 12768, 12769, 12770, 12771, 12772, 12773,
            12774],
           dtype='int64', length=158),
 (3, 19): Int64Index([12775, 12776, 12777, 12778, 12779, 12780, 12781, 12782, 12783,
            12784,
            ...
            12939, 12940, 12941, 12942, 12943, 12944, 12945, 12946, 12947,
            12948],
           dtype='int64', length=174),
 (3, 20): Int64Index([12949, 12950, 12951, 12952, 12953, 12954, 12955, 12956, 12957,
            12958,
            ...
            13143, 13144, 13145, 13146, 13147, 13148, 13149, 13150, 13151,
            13152],
           dtype='int64', length=204),
 (3, 21): Int64Index([13153, 13154, 13155, 13156, 13157, 13158, 13159, 13160, 13161,
            13162,
            ...
            13324, 13325, 13326, 13327, 13328, 13329, 13330, 13331, 13332,
            13333],
           dtype='int64', length=181),
 (3, 22): Int64Index([13334, 13335, 13336, 13337, 13338, 13339, 13340, 13341, 13342,
            13343,
            ...
            13493, 13494, 13495, 13496, 13497, 13498, 13499, 13500, 13501,
            13502],
           dtype='int64', length=169),
 (3, 23): Int64Index([13503, 13504, 13505, 13506, 13507, 13508, 13509, 13510, 13511,
            13512,
            ...
            13670, 13671, 13672, 13673, 13674, 13675, 13676, 13677, 13678,
            13679],
           dtype='int64', length=177),
 (3, 24): Int64Index([13680, 13681, 13682, 13683, 13684, 13685, 13686, 13687, 13688,
            13689,
            ...
            13848, 13849, 13850, 13851, 13852, 13853, 13854, 13855, 13856,
            13857],
           dtype='int64', length=178),
 (3, 25): Int64Index([13858, 13859, 13860, 13861, 13862, 13863, 13864, 13865, 13866,
            13867,
            ...
            14041, 14042, 14043, 14044, 14045, 14046, 14047, 14048, 14049,
            14050],
           dtype='int64', length=193),
 (3, 26): Int64Index([14051, 14052, 14053, 14054, 14055, 14056, 14057, 14058, 14059,
            14060,
            ...
            14220, 14221, 14222, 14223, 14224, 14225, 14226, 14227, 14228,
            14229],
           dtype='int64', length=179),
 (3, 27): Int64Index([14230, 14231, 14232, 14233, 14234, 14235, 14236, 14237, 14238,
            14239,
            ...
            14399, 14400, 14401, 14402, 14403, 14404, 14405, 14406, 14407,
            14408],
           dtype='int64', length=179),
 (3, 28): Int64Index([14409, 14410, 14411, 14412, 14413, 14414, 14415, 14416, 14417,
            14418,
            ...
            14552, 14553, 14554, 14555, 14556, 14557, 14558, 14559, 14560,
            14561],
           dtype='int64', length=153),
 (3, 29): Int64Index([14562, 14563, 14564, 14565, 14566, 14567, 14568, 14569, 14570,
            14571,
            ...
            14736, 14737, 14738, 14739, 14740, 14741, 14742, 14743, 14744,
            14745],
           dtype='int64', length=184),
 (3, 30): Int64Index([14746, 14747, 14748, 14749, 14750, 14751, 14752, 14753, 14754,
            14755,
            ...
            14899, 14900, 14901, 14902, 14903, 14904, 14905, 14906, 14907,
            14908],
           dtype='int64', length=163),
 (3, 31): Int64Index([14909, 14910, 14911, 14912, 14913, 14914, 14915, 14916, 14917,
            14918,
            ...
            15086, 15087, 15088, 15089, 15090, 15091, 15092, 15093, 15094,

In [81]:
# 집계
# 항공사별 출발지연시간(대상)의 평균 // 을 
flights.groupby('AIRLINE')['DEP_DELAY'].mean().sort_values()

AIRLINE
AS     1.808594
HA     2.571429
US     4.361355
DL     7.242450
VX     8.918946
EV     9.092625
OO     9.662279
MQ    11.094323
AA    11.274057
WN    12.639366
B6    14.287823
F9    14.310398
UA    16.210485
NK    19.514401
Name: DEP_DELAY, dtype: float64

In [80]:
# 항공사별 출발지연시간의 최소/최대 (여러 집계를 한번에 - agg())
flights.groupby("AIRLINE")['DEP_DELAY'].agg(['min','max',min_max_diff])

          min     max  min_max_diff
AIRLINE
AA      -15.0   835.0         850.0
AS      -22.0   338.0         360.0
B6      -19.0   348.0         367.0
DL      -17.0   755.0         772.0
EV      -17.0   672.0         689.0
F9      -19.0   852.0         871.0
HA      -24.0   298.0         322.0
MQ      -12.0   342.0         354.0
NK      -16.0   461.0         477.0
OO      -20.0   735.0         755.0
UA      -18.0  1194.0        1212.0
US      -15.0   439.0         454.0
VX      -13.0   253.0         266.0
WN      -14.0   476.0         490.0

In [83]:
# 항공사별 출발지연시간과 도착지연시간의 평균 (집계할 대상 컬럼이 여러개인 경우)
flights.groupby('AIRLINE')[['DEP_DELAY','ARR_DELAY']].mean()

         DEP_DELAY  ARR_DELAY
AIRLINE
AA       11.274057   5.542661
AS        1.808594  -0.833333
B6       14.287823   8.692593
DL        7.242450   0.339691
EV        9.092625   7.034580
F9       14.310398  13.630651
HA        2.571429   4.972973
MQ       11.094323   6.860591
NK       19.514401  18.436070
OO        9.662279   7.593463
UA       16.210485   7.765755
US        4.361355   1.681105
VX        8.918946   5.348884
WN       12.639366   6.397353

In [84]:
flights.groupby('AIRLINE')[['DEP_DELAY','ARR_DELAY']].agg(['min','max']) # multi index라 불린다.@@!!!!ㅇㅇ

        DEP_DELAY         ARR_DELAY
              min     max       min     max
AIRLINE
AA          -15.0   835.0     -60.0   858.0
AS          -22.0   338.0     -57.0   344.0
B6          -19.0   348.0     -51.0   331.0
DL          -17.0   755.0     -57.0   741.0
EV          -17.0   672.0     -39.0   669.0
F9          -19.0   852.0     -43.0   839.0
HA          -24.0   298.0     -44.0   298.0
MQ          -12.0   342.0     -37.0   357.0
NK          -16.0   461.0     -39.0   474.0
OO          -20.0   735.0     -44.0   724.0
UA          -18.0  1194.0     -58.0  1185.0
US          -15.0   439.0     -51.0   431.0
VX          -13.0   253.0     -51.0   236.0
WN          -14.0   476.0     -52.0   493.0

##  복수열 기준 그룹핑
- 두개 이상의 열을 그룹으로 묶을 수 있다. 
- groupby의 매개변수에 그룹으로 묶을 컬럼들의 이름을 리스트로 전달한다.

In [91]:
# 출발공항 / 도착공항 별 출발지연 시간의 평균
# flights['ORG_AIR'].value_counts()
# flights['DEST_AIR'].value_counts()

flights.groupby(['ORG_AIR', 'DEST_AIR'])['DEP_DELAY'].mean()

ORG_AIR  DEST_AIR
ATL      ABE          9.612903
         ABQ          7.062500
         ABY         22.473684
         ACY          7.166667
         AEX         11.000000
                       ...
SFO      SNA          8.483051
         STL         25.100000
         SUN         17.700000
         TUS         14.200000
         XNA         -3.000000
Name: DEP_DELAY, Length: 1130, dtype: float64

In [95]:
# 출발공항 / 항공사 별 출발 지연시간의 min/max

flights.groupby(['ORG_AIR','AIRLINE'])['DEP_DELAY'].agg(['min','max'])

                  min    max
ORG_AIR AIRLINE
ATL     AA      -11.0  345.0
        AS       -3.0   81.0
        DL      -14.0  702.0
        EV      -12.0  319.0
        F9      -14.0  640.0
...               ...    ...
SFO     OO      -20.0  306.0
        UA      -14.0  684.0
        US      -11.0  190.0
        VX      -10.0  209.0
        WN       -9.0  231.0

[114 rows x 2 columns]

In [103]:
pd.options.display.max_rows = 60

In [104]:
pd.options.display.max_columns =30

In [105]:
# 월/항공사 별 출발지연시간과 도착지연시간의 평균 - group의 기준컬럼 - 여러개, 집계대상 여러개

flights.groupby(["MONTH","AIRLINE"])[["DEP_DELAY","ARR_DELAY"]].mean()

               DEP_DELAY  ARR_DELAY
MONTH AIRLINE
1     AA       12.645740   9.436282
      AS        1.575758   2.090909
      B6        6.717391   2.913043
      DL        5.715496  -2.054545
      EV        9.898496   7.640152
...                  ...        ...
12    NK       18.797386  16.816993
      OO       11.482283   9.850299
      UA       18.674009   7.599411
      VX       22.979592  17.000000
      WN       14.622222   8.947575

[149 rows x 2 columns]

In [108]:
# 월/ 항공사 별 출발지연시간의 평균 , 취소건수 (컬럼별로 다른 집계)
d = {
    "DEP_DELAY": 'mean',
    "CANCELLED": 'sum'
    
}
flights.groupby(["AIRLINE","MONTH"]).agg(d)

               DEP_DELAY  CANCELLED
AIRLINE MONTH
AA      1      12.645740          9
        2       8.485816         51
        3      13.536337         16
        4       9.127352          9
        5      12.552995         13
...                  ...        ...
WN      7      18.904110         11
        8      12.123253          7
        9       6.240152          5
        11      8.548344         11
        12     14.622222          4

[149 rows x 2 columns]

### 예) 항공사의 취소건수 구하는 식.

In [107]:
flights['CANCELLED'].sum()

881

## Group 별 집계결과에서 특정 조건의 항목만 조회
- Groupby 집계 후 boolean indexing 처리한다.

In [117]:
# 항공사별 취소건수
result = flights.groupby("AIRLINE")['CANCELLED'].sum()
result[result >= 100].sort_values()

AIRLINE
OO    142
EV    146
MQ    152
AA    154
Name: CANCELLED, dtype: int64

# 사용자 정의 집계함수를 만들어 적용

## 사용자 정의 집계 함수 정의
- 매개변수
    1. Series 또는 DataFrame을 받을 매개변수(필수)
    2. 필요한 값을 받을 매개변수를 선언한다. (선택)

## agg() 를 사용해 사용자 정의 집계 함수 호출
- DataFrame.agg(func=None, axis=0, \*args, \*\*kwargs)
    - axis : 사용자 정의 함수에 전달할 값들(Series)의 축 지정
- Series.agg(func=None, axis=0, \*args, \*\*kwargs)
    - DataFrame의 agg와 매개변수 구조를 맞추기 위해 axis 지정한다. (kwargs를 이용해 매개변수 전달할 경우 axis는 생략해도 된다. - axis기본값 0을 그냥 쓰면 되므로. - keyword 인자 뒤에 position 인자는 안되서 *args로 값 전달시에는 axis를 지정해야 한다.)
- DataFrameGroupBy.agg(func, \*args, \*\*kwargs) : 
    - axis 지정안함.
    - 사용자 함수에 Series를 group 별로 전달한다.
- SeriesGroupBy.agg(func=None,  \*args, \*\*kwargs)  
    - axis 지정안함
    - 사용자 함수에 Series를 group 별로 전달한다.
  
- \*args, \*\*kwargs는 사용자 정의 함수에 선언한 매개변수가 있을 경우 전달할 값을 전달한다.  
    - 키워드 인자를 이용해 가변인자로 전달하는 것이 편하다.

# TODO

In [156]:
# 1. data/diamonds.csv 를 읽어 DataFrame 생성
dia = pd.read_csv('data/diamonds.csv')
dia
dia.shape
dia.info
dia.head()
dia.tail()
dia.isna().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [ ]:
# 2. 1에서 생성한 DataFrame의 정보 조회
#     - 배열의 shape조회
#     - DataFrame에 대한 정보조회
#     - 상/하위 5개 행 조회
#     - 결측치 확인

In [130]:
# 3. carat, price, depth의 합계, 평균, 최대, 최소 조회
dia.groupby(['carat','price','depth']).agg(['sum','mean','max','min'])

/var/folders/nc/lry6d8ws417_mblykm_8wpc40000gn/T/ipykernel_35069/2523429024.py:2: FutureWarning: ['cut', 'color', 'clarity'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  dia.groupby(['carat','price','depth']).agg(['sum','mean','max','min'])

                   table                        x                           y  \
                     sum  mean   max   min    sum   mean    max    min    sum
carat price depth
0.20  345   60.2    62.0  62.0  62.0  62.0   3.79   3.79   3.79   3.79   3.75
      367   59.0    60.0  60.0  60.0  60.0   3.81   3.81   3.81   3.81   3.78
            59.7   117.0  58.5  62.0  55.0   7.70   3.85   3.86   3.84   7.64
            59.8    62.0  62.0  62.0  62.0   3.79   3.79   3.79   3.79   3.77
            61.1    59.0  59.0  59.0  59.0   3.81   3.81   3.81   3.81   3.78
...                  ...   ...   ...   ...    ...    ...    ...    ...    ...
4.01  15223 61.0    61.0  61.0  61.0  61.0  10.14  10.14  10.14  10.14  10.10
            62.5    62.0  62.0  62.0  62.0  10.02  10.02  10.02  10.02   9.94
4.13  17329 64.8    61.0  61.0  61.0  61.0  10.00  10.00  10.00  10.00   9.85
4.50  18531 65.8    58.0  58.0  58.0  58.0  10.23  10.23  10.23  10.23  10.16
5.01  18018 65.5    59.0  59.0  59.0  59.0  10.74  10.74  10.74  10.74  10.54

                                           z
                    mean    max    min   sum  mean   max   min
carat price depth
0.20  345   60.2    3.75   3.75   3.75  2.27  2.27  2.27  2.27
      367   59.0    3.78   3.78   3.78  2.24  2.24  2.24  2.24
            59.7    3.82   3.84   3.80  4.58  2.29  2.30  2.28
            59.8    3.77   3.77   3.77  2.26  2.26  2.26  2.26
            61.1    3.78   3.78   3.78  2.32  2.32  2.32  2.32
...                  ...    ...    ...   ...   ...   ...   ...
4.01  15223 61.0   10.10  10.10  10.10  6.17  6.17  6.17  6.17
            62.5    9.94   9.94   9.94  6.24  6.24  6.24  6.24
4.13  17329 64.8    9.85   9.85   9.85  6.43  6.43  6.43  6.43
4.50  18531 65.8   10.16  10.16  10.16  6.72  6.72  6.72  6.72
5.01  18018 65.5   10.54  10.54  10.54  6.98  6.98  6.98  6.98

[48814 rows x 16 columns]

In [157]:
# 4. price는 최대, 최소, color는 고유값의 개수를 조회
pc = {
    "price":['max','min'],
    "color":'nunique'
    
}
dia.agg(pc)

           price  color
max      18823.0    NaN
min        326.0    NaN
nunique      NaN    7.0

In [159]:
# 5. cut의 고유값별 개수를 조회
dia['cut'].value_counts()

Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: cut, dtype: int64

In [142]:
# 6. cut별 가격 평균 조회
dia.groupby('cut')['price'].mean()

cut
Fair         4358.757764
Good         3928.864452
Ideal        3457.541970
Premium      4584.257704
Very Good    3981.759891
Name: price, dtype: float64

In [143]:
# 7. cut별 가격 평균중 4000이상만 조회
result = dia.groupby('cut')['price'].mean()
result[(result>=4000).sort_values()]

cut
Fair       4358.757764
Premium    4584.257704
Name: price, dtype: float64

In [144]:
# 8. clarity별 carat 평균과 표준편차 조회
dia.groupby('clarity')['carat'].agg(['mean','std'])

             mean       std
clarity
I1       1.283846  0.632436
IF       0.505123  0.313433
SI1      0.850482  0.449652
SI2      1.077648  0.516653
VS1      0.727158  0.423529
VS2      0.763935  0.446292
VVS1     0.503321  0.299557
VVS2     0.596202  0.359697

In [150]:
# 9. cut과 color 별로 가격은 평균을 carat은 최대값을 조회 
d = {
    "price":'mean',
    "carat":'max'
    
}
result2 = (dia.groupby(['cut','color']).agg(d))
result2

                       price  carat
cut       color
Fair      D      4291.061350   3.40
          E      3682.312500   2.04
          F      3827.003205   2.58
          G      4239.254777   2.60
          H      5135.683168   4.13
          I      4685.445714   3.02
          J      4975.655462   5.01
Good      D      3405.382175   2.04
          E      3423.644159   3.00
          F      3495.750275   2.67
          G      4123.482204   2.80
          H      4276.254986   3.01
          I      5078.532567   3.01
          J      4574.172638   3.00
Ideal     D      2629.094566   2.75
          E      2597.550090   2.28
          F      3374.939362   2.45
          G      3720.706388   2.54
          H      3889.334831   3.50
          I      4451.970377   3.22
          J      4918.186384   3.01
Premium   D      3631.292576   2.57
          E      3538.914420   3.05
          F      4324.890176   3.01
          G      4500.742134   3.01
          H      5216.706780   3.24
          I      5946.180672   4.01
          J      6294.591584   4.01
Very Good D      3470.467284   2.58
          E      3214.652083   2.51
          F      3778.820240   2.48
          G      3872.753806   2.52
          H      4535.390351   3.00
          I      5255.879568   4.00
          J      5103.513274   2.74

In [163]:
# 10. 9번 문제의 결과에서 가격의 평균이 5000이상이고 carat의 최대값이 3이상인 결과만 조회.

result2[(result2['price']>=5000) & (result2['carat']>=3)]

                       price  carat
cut       color
Fair      H      5135.683168   4.13
Good      I      5078.532567   3.01
Premium   H      5216.706780   3.24
          I      5946.180672   4.01
          J      6294.591584   4.01
Very Good I      5255.879568   4.00

In [162]:
result2.query('price>=5000 and carat>=3')

                       price  carat
cut       color
Fair      H      5135.683168   4.13
Good      I      5078.532567   3.01
Premium   H      5216.706780   3.24
          I      5946.180672   4.01
          J      6294.591584   4.01
Very Good I      5255.879568   4.00